*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 14px auto;
    border-radius: 2px;
}

body,
section {
    background-color: #f6f6f6;
}

#one {
    background-color: #f6f6f6;
    border-top-right-radius: 50%;
    padding-top: 6px;
}

.container {
    background-color: #eaeaea;
}

h2 {
    font-weight: lighter;
    font-family: 'Poltawski Nowy', serif;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

h1 {
    font-family: 'Poltawski Nowy', serif;
    text-align: center;
}

.contato {
    display: flex;
    justify-content: space-between;
}

.contato p {
    padding: 0 8px;
}

span,
p, 
li {
    font-size: 10px;
    padding: 2px 0;
    font-weight: bold;
}

li {
    list-style: none;
}

p span {
    color: #000;
    background-color: rgb(252, 252, 217);
}

ul {
    list-style-position: inside;
}

.email {
    text-decoration:underline;
    padding-top: 14px;
}

h3 {
    font-family: 'Poltawski Nowy', serif;
    color: rgb(75, 75, 75);
    font-weight: lighter;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(229, 229, 229);
}

.flex1,
.flex2 {
    display: flex;
}

.flex2 ul {
    padding-right: 24px;
}

.flex1 ul {
    padding-right: 40px;
}

.idioma ul {
    display: flex;
}

.idioma li {
    padding-right: 30px;
}

p {
    color: rgb(50, 50, 50);
}

h4 {
    font-weight: bold;
    font-size: 12px;
    padding-top: 4px;
}

a {
    display: block;
    font-size: 12px;
    padding: 2px 0;
    color: rgb(18, 18, 104);
}

.p {
    padding: 6px 0;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    h1 {
        text-align: center;
    }

    .p {
        padding-bottom: 18px;
    }
}