@import 'mais.less';
@import "mapas.less";
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom8 {
    margin-bottom: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background: linear-gradient(48deg, rgb(2, 0, 37) 52%, rgb(255, 223, 223) 100%);
    color: #colors[textColor];
}
/*
span {
    color: rgb(2, 0, 37);
}*/

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media @breakpointMobile {
        max-width: 80%;
        //background-color: ;
    }

    @media @breakpointTablet {
        max-width: 80%;
        //background-color: ;
    }    
}

.cabecalho {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointMobile {
        width: 80%;
    }

    h1 {
        //font-style: italic;
        //font-weight: lighter;
        font-family: 'Acme', sans-serif;
        font-size: 38px;
        /*
        background-image: linear-gradient(100deg, rgb(244, 168, 168) 50%, rgb(2, 0, 37)50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;*/

        @media @breakpointMobile {
            font-size: 18px;
        }
    }

    h2 {
        font-size: 62px;
        font-family: 'Rowdies', cursive;
        margin: 12px 0;
        /*background-image: linear-gradient(90deg, rgb(244, 168, 168) 58%, rgb(47, 44, 102), rgb(2, 0, 37)40%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;*/
        
        @media @breakpointMobile {
            font-size: 28px;
            margin: 0 auto;
            text-align: center;
            //max-width: 240px;
            //width: 100%;
        }
    }
    
    button {
        padding: 6px 8px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-family: 'Zilla Slab', serif;
        color: #colors[textColor];
        text-transform: none;
        font-size: 12px;
        background-color: #colors[buttonColor];
        border: 2px solid #colors[buttonColor];
        transition: all ease .5s;

        @media @breakpointMobile {
            padding: 2px 4px;
            font-size: 12px;
            margin: 12px auto;
        }

        &:hover {
            background-color: transparent;
            color: #colors[btnHover];
        }
    }
}

.container-flex {
    //display: flex;
    //justify-content: space-between;
    margin-bottom: 180px;

    @media @breakpointMobile {
        margin-bottom: 80px;
    }

    button {
        position: absolute;
        right: 12%;
        padding: 6px 8px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        color: #colors[textColor];
        background-color: #colors[buttonColor];
        border: 2px solid #colors[buttonColor];
        transition: all ease .5s;

        @media @breakpointTablet {
            right: 2%;
        }


        &:hover {
            background-color: transparent;
            color: #colors[btnHover];
        }
        
        img {
            filter: invert(100%); 
        }
    }
}


#sobre {
    padding-bottom: 24px;

    .profile {
        display: block;
        max-width: 98px;
        opacity: 80%;
        margin: 0 auto 24px;
        border-radius: 50%;
    }
}

.profile-bio {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    transition: all ease .3s;

    &-description {
        max-width: 560px;
        margin: 0 auto;
        font-size: 16px;
        opacity: .9;
        line-height: 2em;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li{

        img {
            transition: all ease .3s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.projects-list {
    max-width: 700px;
    margin: 0 auto ;
    transition: opacity 0.3s ease;

    &-item {
        a {
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 14px 20px;
            margin-bottom: 20px;
            text-align: center;
            color: #colors[textColor];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #colors[buttonColor];
            transition: all ease .5s;

            &:hover {
                color: #colors[buttonColor];
                background-color: transparent;
            }
        }
    }
}

button {
    background-color: transparent;
    border: 2px solid #colors[buttonColor];
    color: #colors[textColor];
    border-radius: 30px;
    max-width: 300px;
    margin: 0 auto;
    padding: 2px 12px;
    font-weight: bold;
    text-transform: lowercase;
    cursor: pointer;

    &:hover {
        border: 2px solid #colors[btnHover];
        transition: all ease .2s;
    }
}
